@charset "utf-8";


.navbar{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #491000;
	border-bottom: 3px solid #DFD9AB;
	border-bottom-width: thick;
	
	
}
.navbar a{
	float: left;
	display: block;
	color: #DFD9AB;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Hind', sans-serif;
}

.navbar-right{
	float: right;
}

.featurette-divider {
	margin: 5rem 0;
}

.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: .05rem;
	font-family: 'Hind', sans-serif;
	font-size: 30px;
	color: #DFD9AB
}
.lead {
	color: #DFD9AB;
	
}
.box-one {
	background: #883E24;
	width: 600px;
	height: 290px;
	padding: 5px;
	text-align: center;
	position: fixed; left: 250px; top: 250px;
	
}

.column {
	float: right;
	width: 600px;
	height: 200px;
	padding: 5px;
	flex: 30%;
	position: fixed; left: 850px; top: 245px;
}
.box-two {
	background: #7e0000;
	width: 1200px;
	height: 290px;
	padding: 5px;
	text-align: right; 
	position: fixed; left: 250px; top: 650px;
}
.featurette {
	float: left;
	position: fixed; left: 375px; top: 700px;
	padding: 5px;
	flex: 30%;
}
.box-two-font {
	font-weight: 300;
	line-height: 1;
	letter-spacing: .05rem;
	font-family: "Hind", sans-serif;
	font-size: 30px;
	color: #dfd9ab;
	padding: 5px;
	position: fixed; left: 900px; top: 710px; 
}
.box-f2 {
	font-weight: 300;
	line-height: 1;
	letter-spacing: .05rem;
	font-family: "Hind", sans-serif;
	font-size: 30px;
	color: #dfd9ab;
	padding: 5px;
	position: fixed; left: 950px; top: 740px;
}
.box-f3 {
	font-weight: 300;
	line-height: 1;
	letter-spacing: .05rem;
	font-family: "Hind", sans-serif;
	font-size: 30px;
	color: #dfd9ab;
	padding: 5px;
	position: fixed; left: 980px; top: 775px;
}
.featurette-three {
	float: right;
	position: fixed; left: 860px; top: 1100px;
	padding: 5px;
	flex: 30%;
}

.row::after {
	display: flex;
	padding: 5px;
	clear: both;
	display: table;
	
}

.input[type=text], select, textarea {
	width: 100%;
	padding: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	resize: vertical;
}

.label {
	padding: 12px 12px 0;
	display: inline-block;
}

.input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer; 
	float: right;
}
.input[type=submit]:hover {
	background-color: #45a049;
}

.form {
	border-radius: 5px;
	background-color: #491000;
	padding: 150px;
	width: 15%;
	margin-left: 35%;
	margin-top: 15%;
	color: #dfd9ab;
	
}
.col-25 {
	float: left;
	width: 25%;
	margin-top: 10px;
	font-size: 25px;
}

.col-75 {
	float: right;
	width: 45%;
	margin-top: 45px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

.cbp-spmenu {
	background: #47a3da;
	position: fixed;
	margin-top: 8%;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}
.cbp-spmenu-left {
	left: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.main > section {
	max-width: 260px;
	width: 90%;
}
.main > section h2 {
	font-weight: 300;
}

.main > section button {
	background: #883e24;
	border: none;
	color: #dfd9ab;
	padding: 15px;
	display: block;
	width: 100%;
	cursor: pointer;
	margin-top: 50%;
	font-size: 0.8em;
}

.main > section button:hover {
	background: #dfd9ab;
	color: #883e24;
}

.main > section button.active {
	background: #0d77b6;
}

.main > section button.disabled {
	background: #dfd9ab;
	pointer-events: none;
}














@media (min-width: 40em) {
	 .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
