/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  font-family: 'Hind', sans-serif;
 
}
.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
	justify-content: space-between;
	font-size: 1.2em;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--#{$prefix}navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
